body {
  background-color: #ffffff;
  font-family: helvetica, arial, sans-serif;
}

#wrapper {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
}
#wrap2 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
}
aside {
  grid-column: span 12;
  margin: 24px;
  padding: 24px;
}
aside img {
  width:590px;
  margin: 0 0 12px 0;
  border-radius:5px;
}
.carousel {
  color: #170724;

  --carousel-button-bg: #fff;
  --carousel-button-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0
          0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);

  --carousel-button-svg-width: 20px;
  --carousel-button-svg-height: 20px;
  --carousel-button-svg-stroke-width: 2.5;
}

.carousel__slide {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 80%;
  height: 700px;
  margin-right: 6px;

  background-color: #eee;
  border-radius: 6px;
}

 figcaption {
   color:#69475D;
 }
header {
  grid-column: span 12;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
  border-bottom: 2px solid black;
  margin: 0;
  padding: 0;
  text-align:center;
  color: #69273A;
  font-family: 'Dancing Script', cursive;
}
#icons {
  font-size: 24px;
  grid-column: span 6;
  margin: 10px;
  margin-top: 15px;
  padding: 10px;
  text-align: right;
  color: #69273A;

}
#icons a {
  color:#69273A;
}
#icons a:hover {
  box-shadow: 1px 1px 1px #000;
  font-size: 26px;
  transition: font-size 0.5s;
}
h1  {
  text-align: center;
  grid-column: span 12;
}
header nav {
  text-align:left;
  margin:0;
}
nav {
  grid-column: span 6;
  font-family: 'Dancing Script', cursive;
  display: block;
  margin:0;
  width:100%;

}
nav li a:hover {
  font-weight: medium;
  text-shadow: 1px 1px 1px #000;
  color:#370A27
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  display: inline-block;
  font-size: 24px;
}
nav li a {
  display: inline-block;
  text-decoration: none;
  padding: 24px;
  text-transform: lowercase;
  color: #69475D;
  transition: font-weight 1.0s, text-shadow 2.0s, color 2.0s;
}
a {
font-weight: bold;
text-decoration: none;
color: #69475D;
transition: text-shadow 1.0s, color 1.0s;
}
a:hover {
  text-shadow: 1px 1px 1px #000;
  color:#370A27
}
.right {
  float: right;
  grid-column: span 6;
  width: 400px;
}
.headimage {
  width: 1000px;
  margin: 60px;
  margin-left: 300px;
  display: block;
  grid-column: span 12;
}

#work-photos {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
  grid-column: span 12;
}
#work-photos img {
  display: inline;
  grid-column: span 3;
  width: 100%;
  margin-left: 0;
  border: 2px solid #69273A;
  padding: 2px;
}
#work-photos h2 {
  grid-column: span 12;
}
main {
  grid-column: span 12;
  font-family: helvetica, arial, sans-serif;
}
p {
  margin-left: 50px;
  margin-right: 50px;
  padding-left: 50px;
  padding-right: 50px;
  color: #69475D;

}
h2{
  text-align: center;
  color: #370A27;
  margin-left: 50px;
  margin-right: 50px;
  padding-left: 50px;
  padding-right: 50px;
  font-family: 'Dancing Script', cursive;
}
article {
  text-align:center;
}
footer {
  grid-column: span 12;
  font-family: helvetica, arial, sans-serif;
  text-align: center;
  margin: 50px;
  padding: 50px;
  font-style: italic;
  color: #370A27;
}
